{% extends 'board/index.html' %}

{% block content %}

    <strong>{{ form.title }}</strong><br/>
    Liczba graczy: {{ form.min_players_number }}-{{ form.max_players_number }}<br/>
    Czas gry: do {{ form.max_game_time }} minut<br/>
    Gatunek: {{ form.genre }}<br/>
    Miejsce na BGG: <strong>{{ game_rank }}</strong><br/>
    <a class="btn-danger" href="{% url 'delete' form.id %}">USUŃ</a>
    <input action="action" type="button" value="Cofnij" onclick="history.go(-1);" />
{% endblock %}




