{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="width: 400px; height: 500px; display: inline-block; float: left">
</div>
<div style="float: left">

<h2>Let's play a game {{ user }}</h2>
<a href="{% url 'index' %}" class="btn">Główna</a>
<a href="{% url 'list' %}" class="btn">Pokaż wszystkie gry</a>
<a href="{% url 'add' %}" class="btn">Dodaj grę</a>
<a href="{% url 'logout' %}" class="btn">Wyloguj</a>


<p>
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    Liczba graczy: {{ form.players_number }}<br/>
    Gatunek: {{ form.genre }}<br/>
    Czas gry: {{ form.game_time }}<br/>
    <input type="submit" value="Znajdź">
    </form><br/>
{% endblock %}
</p>
</div>

</body>
</html>