{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Let's play a game {{ user }}</h2>
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    Liczba graczy: {{ form.players_number }}<br/>
    Gatunek: {{ form.genre }}<br/>
    Czas gry: {{ form.game_time }}<br/>
    <input type="submit" value="Znajdź">
    </form><br/>
    <a href="{% url 'list' %}">Pokaż wszystkie gry</a>
    <a href="{% url 'add' %}">Dodaj grę</a>
    <a href="{% url 'delete' %}">Usuń grę</a>
    <a href="{% url 'logout' %}">Wyloguj</a>
{% endblock %}
</body>
</html>